* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #ffc700;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
}

img,
video,
iframe {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.header,
.main,
.footer {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    width: 150px;
    height: 150px;
    border-radius: 70%;
}

.header__titulo {
    text-align: center;
    color: beige;
    font-size: 30px;
    font-weight: 700;
}

.header__descripcion {
    font-style: italic;
    text-align: center;
}


/* Seccion 1 */

.seccion1 {
    padding: 2rem;
}

.seccion1__lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    color: black;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.seccion1__item {
    background-color: #ffc700;
    border-radius: 0.5rem;
}

.seccion1__enlace {
    background-color: #ffc700;
    display: block;
    text-align: center;
    padding: 0.5rem;
    border-radius: inherit;
    text-decoration: none;

}

/*Seccion 2*/

.seccion2 {
    padding: 1rem;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.seccion2__iframe {
    padding: 1rem;
    height: 400px;
}

/*Seccion 3*/

.seccion3 {
    padding: 1rem;
}

.seccion3__lista {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.seccion3__item {
    width: 250px;
    height: 250px;
    border: 2px solid #ffc700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    text-align: center;

}

.seccion3__enlace {
    color: #ffc700;
    text-decoration: none;
}

.seccion3__image {
    padding: 1.5rem;
}

/*Seccion 4*/

.seccion4 {
    padding: 1rem;
    text-align: center;
    font-size: 30px;
    font-weight: 300px;
}

.seccion4__sponsor {
    display: block;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
}

/*Footer*/

.footer {
    height: 300px;
    display: block;
    flex-direction: row;
    align-items: center;

}

.footer__ancla {
    display: none;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
    padding: 1rem;
}

/*Seccion 5*/

.seccion5 {
    padding: 2rem;
}

.seccion5__boton {
    background-color: #ffc700;
    border-color: #ffc700;
}

.seccion5__boton:hover {
    background-color: black;
}


/* Media Querys */

@media (min-width: 768px) {
    .header {
        max-width: 900px;
    }

    .header__titulo {
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .header__descripcion {
        font-size: 30px;
    }

    .footer {
        height: 400px;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .seccion3__item {
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    .footer__ancla {
        display: block;
    }
}